<div class="mui-row">
    <div class="mui-col-md-12">
        <h1>My account information</h1>
            <h3><span class="mui--divider-right">Full name &nbsp;</span> <%=current_user.full_name%></h3>

            <h3><span class="mui--divider-right">Email &nbsp;</span> <%=current_user.email%></h3>

            <h3>Biography: </h3>
            <h4><%=current_user.biography%></h4>
    </div>

    <div class="mui-col-md-12 mui--divider-top">
        <form class="mui-form" method="post" action="/users/<%=current_user.id%>">
        <input id="hidden" type="hidden" name="_method" value="patch">
            
        <h1>Update account information </h1>
                <div class="mui-textfield">
                    <label>Email:</label>
                    <input type="text" name="email" id="email" value="<%=current_user.email%>" >
                </div>

                <div class="mui-textfield">
                    <label>Biography:</label><br>
                    <textarea name="biography" id="biography"><%=current_user.biography%></textarea>
                </div>

                <div class="mui-textfield">
                    <legend>Current password:</legend>
                    <p><input type="password" name="old_password" id="old_password"></p>
                </div>
            
                <div class="mui-textfield">
                    <legend>New password:</legend>
                    <p><input type="password" name="new_password" id="new_password"></p>
                </div>

                <p><button type="submit" class="mui-btn mui-btn--small mui-btn mui-btn--raised mui-btn--primary">Update Account</button>
        </form>

        <form method="post" action="/users/<%=current_user.id%>">
            <input id="hidden" type="hidden" name="_method" value="delete">

            <button type="submit" class="mui-btn mui-btn--small mui-btn mui-btn--raised mui-btn--danger">Delete My Account</button>
        </form>

    </div>
</div>