
<div class="mui-row">
    <% if flash.has?(:error) %>
        <h3 class="error"><%= flash[:error] %></h3>
    <% end %>
    <div class="mui-col-md-12">
        <h1>All Instructor Profiles</h1>

        <ul><% @instructors.each do |instructor|%>
            <li>
                <h3><a href="/users/<%=instructor.id%>"><%=instructor.full_name%></a></h3>
            </li>
        <%end%></ul>
    </div>

    <div class="mui-col-md-12 mui--divider-top">
        <h1>All Student Profiles</h1>

        <ul><% @students.each do |student|%>
            <li>
                <h3><a href="/users/<%=student.id%>"><%=student.full_name%></a></h3>
            </li>
        <%end%></ul>
    </div>
</div>