<div class="mui-row">
    <div class="mui-col-md-12">
        <h1>Edit course information:</h1>

        <form method="post" action="/courses/<%=@course.id%>" class="mui-form">
        <input id="hidden" type="hidden" name="_method" value="patch">

        <legend>Course name</legend>
        <div class="mui-textfield">
            <input type="text" name="name" id="name" value="<%= @course.name%>"/>
        </div>

        <legend>Course icon</legend>
        <div class="mui-textfield">
            <input type="text" name="icon" id="icon" value="<%= @course.icon%>"/>
        </div>

        <legend>Description</legend>
        <div class="mui-textfield">
            <textarea name="description" id="description"><%= @course.description%></textarea>
        </div>

        <h3>Difficulty level: </h3>
        <p>Easy<input type="range" name="level" id="level" min="1" max="3" step="1" 
            value="<%=@course.level.to_i+1%>"/>Advanced</p>
                
        <p><button type="submit" class="mui-btn mui-btn--small mui-btn mui-btn--raised mui-btn--primary">Update Course</button>
        
        </form>

        <form method="post" action="/courses/<%=@course.id%>" class="mui-form">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <button type="submit" class="mui-btn mui-btn--small mui-btn mui-btn--raised mui-btn--danger">Delete Course</button>
        </form>
    </div>
</div>