<div>
    <h1>Course information:</h1>

    <span style='font-size: 5rem'><%= @course.icon%></span>
    <h3>Course name: <%= @course.name%> </h3>
    <p>Description: <%= @course.description%></p>
    <p>Difficulty Level: <%=course_difficulty(@course.level) %></p>

</div>

<div>
    <h2>Edit course information:</h2>

    <form method="post" action="/courses/<%=@course.id%>">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <h3>Course name:</h3>
    <input type="text" name="name" id="name" />

    <h3>Course icon:</h3>
    <input type="text" name="icon" id="icon" />

    <h3>Description: </h3>
    <textarea name="description" id="description" rows="4" cols="50"></textarea>

    <h3>Difficulty level: </h3>
    <p>Easy<input type="range" name="level" id="level" min="1" max="3" step="1" />Advanced</p>
            
    <p><input type="submit" value="Edit Course"></p>
    
    </form>

    <form method="post" action="/courses/<%=@course.id%>">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Course">
    </form>
</div>