<h1>All Courses Available</h1>

<div>
    <div>
    <ol><% @courses.each do |course|%>
        <li>
        <% if !current_user.instructor%>
            <h3>Course name: <%= course.name%> <%= course.icon%></h3>
        <% else %>
            <h3>Course name: <a href="/courses/<%=course.id%>"><%= course.name%> </a> <%= course.icon%></h3>
        <%end%>
        <p>Instructor name: <%= course.instructor.full_name %> </p>

        <p>Description: <%= course.description%></p>
        <p>Difficulty Level: <%=course_difficulty(course.level) %></p>
        </li>
        
    <%end%></ol>
    </div>

    <div>
        <%# IF Student, show registration status%>
        <% if !current_user.instructor %>
            <a href="/enrolled"><p>Click here for my enrolled courses </a></p>
        <% else %> <%# IF Instructor, show course_teaching%>
            <a href="/teaching"><p>Click here for my courses </a></p>
        <% end %>
    </div>
</div>
