
<div class="mui-row">
    <div class="mui-col-md-12">
    <h1>All Courses Available</h1>

        <ul><% @courses.each do |course|%>
            <li>
            <h3>Course name: <a href="/courses/<%=course.id%>"><%= course.name%> </a> <%= course.icon%></h3>
            
            <p><span class="mui--divider-right">Instructor name &nbsp;</span>
                <%= course.instructor.full_name %> </p>

            <p><span class="mui--divider-right">Description &nbsp;</span>
                <%= course.description %></p>

            <p><span class="mui--divider-right">Difficulty Level &nbsp;</span>    
                <%=course_difficulty(course.level) %></p>
            </li>
            
        <%end%></ul>
    </div>

    <div class="mui-col-md-12">
        <%# IF Student, show courses I'm enrolled %>
        <% if !current_user.instructor %>
            <h3><a href="/enrolled">Click here for my enrolled courses </a></h3>
        <% else %> <%# IF Instructor, show courses I teach%>
            <h3><a href="/teaching"><p>Click here for my courses </a></h3>
        <% end %>
    </div>

</div>