<div class="mui-row">
    <div class="mui-col-md-12">
        <h1>My course list</h1>
            <ul><% @my_courses.each do |course|%>
                <li>
                <h3><a href="/courses/<%=course.id%>"><%= course.name%></a>
                    <%= course.icon%></h3>

                <h4><span class="mui--divider-right">Description &nbsp;</span> <%= course.description%></h4>
                <h4><span class="mui--divider-right">Difficulty level &nbsp;</span> <%=course_difficulty(course.level)%></h4>
                    </li>
            <%end%></ul>
    </div>

    <div class="mui-col-md-12">
        <h3><a href="/courses/new">Create a new course</a></h3>
    </div>
</div>