
<h1>List of my courses</h1>
<div>
    <ol><% @my_courses.each do |course|%>
        <li>
        <h3><a href="/courses/<%=course.id%>"><%= course.name%></a> <%= course.icon%></h3>
        <p>Description: <%= course.description%></p>
        <p>Difficulty Level: <%=course_difficulty(course.level)%></p>
            </li>
    <%end%></ol>
</div>

<div>
    <h3><a href="/courses/new">Create a new course</a></h3>
</div>