<h1>Course information</h1>

<div>
    <span style='font-size: 5rem'><%= @course.icon%></span>
    <h3>Course name: <%= @course.name%> </h3>
    <p>Description: <%= @course.description%></p>
    <p>Difficulty Level: <%=course_difficulty(@course.level) %></p>
</div>

<div>
    <%# IF @user = instructor && owns course , show EDIT form %>
    <%# Show registered students & status radio buttons%>
    <% if current_user.instructor && current_user.id === @course.instructor.id%>
        <p><a href="/courses/<%=@course.id%>/edit"><p>Click here to edit course details </a></p>
    
    <%# IF @user = instructor but DOES NOT own class, display message %>
    <% elsif current_user.instructor %>
        <h3>You are not authorized to edit this course</h3>
    
    <%# IF @user = student, show Enrollment status %>
    <% elsif !current_user.instructor %> 

    <% if @existing_registration %>
        <h3>You are registered!</h3>
        <h3>Your enrollment status: <%=registration_status(@existing_registration.confirmation) %></h3>

        <p><a href="/enrolled"><p>Click here for my enrolled courses </a></p>
    <%else%>

        <h3>Request to Enroll in course</h3>
        
        <form method="post" action="/courses/<%=@course.id%>/registration">

            <p>Enrollment notes to instructor:</p>
            <p><textarea name="notes" id="notes" rows="4" cols="50"></textarea></p>
            
            <p><input type="submit" value="Request to Enroll"></p>
        </form>
    <%end%>

    <% end %>

</div>

<%# IF Student, Show registration status radio buttons%>

