<h1>Course information</h1>

<div>
    <span style='font-size: 5rem'><%= @course.icon%></span>
    <h3>Course name: <%= @course.name%> </h3>
    <p>Description: <%= @course.description%></p>
    <p>Difficulty Level:
        <% if @course.level == 0 %>
            Easy
        <% elsif @course.level == 1 %>
            Intermediate
        <% else %>
            Hard
        <% end%></p>

        <% if flash.has?(:message) %>
            <%= flash[:message] %>
        <% end %>
</div>

<div>
    <%# IF @user = instructor && owns course , show EDIT form %>
    <%# Show registered students & status radio buttons%>
    <% if current_user.instructor && current_user.id === @course.instructor.id%>
        <h3>Edit course information:</h3>

        <form method="post" action="/courses/<%=@course.id%>">
        <input id="hidden" type="hidden" name="_method" value="patch">

        <h3>Course name:</h3>
        <input type="text" name="name" id="name" />

        <h3>Course icon:</h3>
        <input type="text" name="icon" id="icon" />

        <h3>Description: </h3>
        <textarea name="description" id="description" rows="4" cols="50"></textarea>

        <h3>Difficulty level: </h3>
        <p>Easy<input type="range" name="level" id="level" min="1" max="3" step="1" />Advanced</p>
                
        <p><input type="submit" value="Edit Course"></p>
        
        </form>
    
    <%# IF @user = instructor but DOES NOT own class, display message %>
    <% elsif current_user.instructor %>
        <h3>You are not authorized to edit this course</h3>
    
    <%# IF @user = student, show Enrollment status %>
    <% elsif !current_user.instructor %> 
        <h3><a href="/enrolled">Student's' enrollment status </a></h3>
        
        <form method="post" action="/course/<%=@course.id%>/registration">
        
        <input type="radio" name="confirmation" value="0"> Request to enroll in course
        <input type="radio" name="confirmation" value="1"> Waitlisted
        <input type="radio" name="confirmation" value="2"> Enrolled
        
        <p><input type="submit" value="Confirm registration"></p>
        </form>


    <% end %>

</div>

<%# IF Student, Show registration status radio buttons%>

